<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="NginxTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <NginxTray.Properties.Settings>
            <setting name="Files" serializeAs="String">
                <value>nginx.exe
..\php-5.3.28-Win32-VC9-x86\php-cgi.exe</value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>
-b 127.0.0.1:9000</value>
            </setting>
            <setting name="EnvironmentVariables" serializeAs="String">
                <value>PHP_FCGI_MAX_REQUESTS=0</value>
            </setting>
            <setting name="Notify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Restart" serializeAs="String">
                <value>False</value>
            </setting>
        </NginxTray.Properties.Settings>
    </userSettings>
</configuration>
