<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NginxTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <NginxTray.Properties.Settings>
            <setting name="NginxFile" serializeAs="String">
                <value>nginx.exe</value>
            </setting>
            <setting name="PHPEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PHPFile" serializeAs="String">
                <value>..\php-5.3.28-Win32-VC9-x86\php-cgi.exe</value>
            </setting>
            <setting name="PHPAddress" serializeAs="String">
                <value>127.0.0.1:9000</value>
            </setting>
            <setting name="PHPINIFile" serializeAs="String">
                <value>..\php-5.3.28-Win32-VC9-x86</value>
            </setting>
        </NginxTray.Properties.Settings>
    </userSettings>
</configuration>
